<h1>Welcome to AndNowWhat?</h1>

<%= link_to new_application_path() do %>
  New App
<%end%>

<%= link_to new_opportunity_path() do %>
  New Opporunity
<%end%>

<%= link_to new_company_path() do %>
  New Company
<%end%>
<br>

<%= link_to new_employee_registration_path() do %>
  New Employee
<%end%>

<%= link_to new_employee_session_path() do %>
  Employee Sign In
<%end%>
