<p id="notice"><%= notice %></p>

<h1>Listing Opportunities</h1>

<table>
  <thead>
    <tr>
      <th>Company</th>
      <th>Title</th>
      <th>Opportunity type</th>
      <th>Status</th>
      <th>Opporunity description</th>
      <th>Start date</th>
      <th>End date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @opportunities.each do |opportunity| %>
      <tr>
        <td><%= opportunity.company %></td>
        <td><%= opportunity.title %></td>
        <td><%= opportunity.opportunity_type %></td>
        <td><%= opportunity.status %></td>
        <td><%= opportunity.opporunity_description %></td>
        <td><%= opportunity.start_date %></td>
        <td><%= opportunity.end_date %></td>
        <td><%= link_to 'Show', opportunity %></td>
        <td><%= link_to 'Edit', edit_opportunity_path(opportunity) %></td>
        <td><%= link_to 'Destroy', opportunity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Opportunity', new_opportunity_path %>
